<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>HotelBookingSystemWebApp</display-name>
  
  <servlet>
  	<servlet-name>HotelBaseServlet</servlet-name>
  	<servlet-class>com.HBS.controller.HotelBaseServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>GetAndPostAHotelServlet</servlet-name>
  	<servlet-class>com.HBS.controller.GetAndPostAHotelServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HotelBaseServlet</servlet-name>
  	<url-pattern>/hotel/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>GetAndPostAHotelServlet</servlet-name>
  	<url-pattern>/getAHotel</url-pattern>
  </servlet-mapping>
</web-app>